* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
    background-image: url(https://larisaresort.com/assets/images/blogposts/destination_wedding_shimla.webp);
    height: 20rem;
    padding-left: 8rem;
}

.img2 {
    position: relative;
    bottom: 72px;
    right: 144px;
}

.img3 {
    position: relative;
    bottom: 208px;
    left: 153px;
}

.img4 {
    position: relative;
    bottom: 316px;
    right: 65px;
}

.footer{
    background-image: url(https://parkerlighting.com/wp-content/uploads/2019/11/Vintage-String-Lights-5-27-5.jpg);
    height: 28rem;
    background-repeat: no-repeat;
    background-size: cover;
}