* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
    background-image: url(https://larisaresort.com/assets/images/blogposts/destination_wedding_shimla.webp);
    height: 20rem;
    padding-left: 8rem;
}

.img2 {
    position: relative;
    bottom: 72px;
    right: 144px;
}

.img3 {
    position: relative;
    bottom: 208px;
    left: 153px;
}

.img4 {
    position: relative;
    bottom: 316px;
    right: 65px;
}

.content {
    position: absolute;
    bottom: 20px;
    left: 15px;
    opacity: 0;
    transform: translatey(20px);
    transition: all 0.5s ease;
    color: black;
}

.card:hover .content {
    opacity: 1;
    transform: translateY(0);
}

.content h3 {
    font-size: 1.5rem;
}

.content p {
    font-size: 0.85rem;
    opacity: 0.9;
}